<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<% posts.forEach(function(publish){ %>
    <h1><%=publish.title%></h1>
    <p><%=publish.content.substring(0,100)+" ... "%><a href="/posts/<%=publish.title%>">Read more</a></p>
<% }); %>
 
<%- include("partials/footer") -%>